# An empty line is required at the end of this file for a valid cron file.
0 0 * * * ansible-playbook --connection=local /ansible/site.yml --vault-password-file /.promed_vault_password --extra mongo_url=10.0.0.175:27017 --extra promed_scraper_git_version=ansible-deploy
