# An empty line is required at the end of this file for a valid cron file.
0 0 * * * /usr/local/bin/ansible-playbook --connection=local /ansible/site.yml --vault-password-file /shared/promed_vault_password --extra mongo_url=172.30.2.160:27017 > /cronjob_output.txt 2> /cronjob_err.txt

