[submodule "docker/images/flirt/flirt-simulation-service"]
	path = docker/images/flirt/flirt-simulation-service
	url = git@github.com:ecohealthalliance/flirt-simulation-service.git
[submodule "docker/images/spa/flirt-sidebar"]
	path = docker/images/spa/flirt-sidebar
	url = git@github.com:ecohealthalliance/flirt-sidebar.git
[submodule "docker/images/spa/spa"]
	path = docker/images/spa/spa
	url = git@github.com:ecohealthalliance/spa.git
[submodule "docker/images/spa/promed_mail_scraper"]
	path = docker/images/spa/promed_mail_scraper
	url = git@github.com:ecohealthalliance/promed_mail_scraper.git
[submodule "docker/images/birt/birt"]
	path = docker/images/birt/birt
	url = git@github.com:ecohealthalliance/birt.git
[submodule "docker/images/birt/flirt-sidebar"]
	path = docker/images/birt/birt/flirt-sidebar
	url = git@github.com:ecohealthalliance/flirt-sidebar.git
[submodule "docker/images/era/era"]
	path = docker/images/era/era
	url = git@github.com:ecohealthalliance/ERA.git
[submodule "/Users/frosario/ecohealth/infrastructure/docker/images/flirt/flirt-webapp"]
	path = /Users/frosario/ecohealth/infrastructure/docker/images/flirt/flirt-webapp
	url = git@github.com:ecohealthalliance/flirt.git
