[submodule "docker/images/flirt/grits-net-meteor"]
	path = docker/images/flirt/grits-net-meteor
	url = git@github.com:ecohealthalliance/grits-net-meteor.git
[submodule "docker/images/flirt/grits-net-mapper"]
	path = docker/images/flirt/grits-net-mapper
	url = git@github.com:ecohealthalliance/grits-net-mapper.git
[submodule "docker/images/flirt/grits-net-consume"]
	path = docker/images/flirt/grits-net-consume
	url = git@github.com:ecohealthalliance/grits-net-consume.git
[submodule "docker/images/flirt/flirt-sidebar"]
	path = docker/images/flirt/flirt-sidebar
	url = git@github.com:ecohealthalliance/flirt-sidebar.git
[submodule "docker/images/flirt/flirt-simulation-service"]
	path = docker/images/flirt/flirt-simulation-service
	url = git@github.com:ecohealthalliance/flirt-simulation-service.git
[submodule "docker/images/spa/flirt-sidebar"]
	path = docker/images/spa/flirt-sidebar
	url = git@github.com:ecohealthalliance/flirt-sidebar.git
[submodule "docker/images/spa/spa"]
	path = docker/images/spa/spa
	url = git@github.com:ecohealthalliance/spa.git
