
global
    daemon 
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    maxconn 4096
    user haproxy
    group haproxy 


defaults 
    mode http
    timeout connect 15s
    timeout client 30s
    timeout server 30s
    timeout http-request 15s
    timeout http-keep-alive 15s
    log global
    stats enable
    stats auth stats:BG&Lzr^S+<znzK3X
    stats uri /stats


frontend http-in 
    bind *:80 
    bind *:443 ssl crt /tater.io.pem
    mode http
    redirect scheme https if !{ ssl_fc }
    acl host_eha hdr(host) -i eha.tater.io
    acl host_www hdr(host) -i www.tater.io
    acl host_predict hdr(host) -i predict.tater.io
    acl host_staging hdr(host) -i staging.tater.io
    acl host_bsve hdr(host) -i bsve.tater.io
    acl host_techteam hdr(host) -i techteam.tater.io
    acl host_automatic hdr(host) -i automatic.tater.io
    acl host_tttteeeeesssstttt hdr(host) -i tttteeeeesssstttt.tater.io
    acl host_seedtest hdr(host) -i seedtest.tater.io
    acl host_seedtest2 hdr(host) -i seedtest2.tater.io
    acl host_seedtest3 hdr(host) -i seedtest3.tater.io
    acl host_seedtest4 hdr(host) -i seedtest4.tater.io
    acl host_seedtest5 hdr(host) -i seedtest5.tater.io
    acl host_seedtest6 hdr(host) -i seedtest6.tater.io
    acl host_seedtest7 hdr(host) -i seedtest7.tater.io
    use_backend eha if host_eha
    use_backend www if host_www
    use_backend predict if host_predict
    use_backend staging if host_staging
    use_backend bsve if host_bsve
    use_backend techteam if host_techteam
    use_backend automatic if host_automatic
    use_backend tttteeeeesssstttt if host_tttteeeeesssstttt
    use_backend seedtest if host_seedtest
    use_backend seedtest2 if host_seedtest2
    use_backend seedtest3 if host_seedtest3
    use_backend seedtest4 if host_seedtest4
    use_backend seedtest5 if host_seedtest5
    use_backend seedtest6 if host_seedtest6
    use_backend seedtest7 if host_seedtest7


backend eha
    server po.tater.io 10.0.0.116:8002 check
    server tots01.tater.io 10.0.0.240:8002 check


backend www
    server po.tater.io 10.0.0.116:8004 check
    server tots01.tater.io 10.0.0.240:8004 check


backend predict
    server po.tater.io 10.0.0.116:8005 check
    server tots01.tater.io 10.0.0.240:8005 check


backend staging
    server po.tater.io 10.0.0.116:8006 check
    server tots01.tater.io 10.0.0.240:8006 check


backend bsve
    server po.tater.io 10.0.0.116:8007 check
    server tots01.tater.io 10.0.0.240:8007 check


backend techteam
    server po.tater.io 10.0.0.116:8008 check
    server tots01.tater.io 10.0.0.240:8008 check


backend automatic
    server po.tater.io 10.0.0.116:8020 check
    server tots01.tater.io 10.0.0.240:8020 check


backend tttteeeeesssstttt
    server po.tater.io 10.0.0.116:8021 check
    server tots01.tater.io 10.0.0.240:8021 check


backend seedtest
    server po.tater.io 10.0.0.116:8009 check
    server tots01.tater.io 10.0.0.240:8009 check


backend seedtest2
    server po.tater.io 10.0.0.116:8012 check
    server tots01.tater.io 10.0.0.240:8012 check


backend seedtest3
    server po.tater.io 10.0.0.116:8013 check
    server tots01.tater.io 10.0.0.240:8013 check


backend seedtest4
    server po.tater.io 10.0.0.116:8014 check
    server tots01.tater.io 10.0.0.240:8014 check


backend seedtest5
    server po.tater.io 10.0.0.116:8015 check
    server tots01.tater.io 10.0.0.240:8015 check


backend seedtest6
    server po.tater.io 10.0.0.116:8016 check
    server tots01.tater.io 10.0.0.240:8016 check


backend seedtest7
    server po.tater.io 10.0.0.116:8018 check
    server tots01.tater.io 10.0.0.240:8018 check

