
global
    daemon 
    log 127.0.0.1 local0
    log 127.0.0.1 local1 notice
    maxconn 4096
    user haproxy
    group haproxy 


defaults 
    mode http
    timeout connect 15s
    timeout client 30s
    timeout server 30s
    timeout http-request 15s
    timeout http-keep-alive 15s
    log global
    stats enable
    stats auth stats:BG&Lzr^S+<znzK3X
    stats uri /stats


frontend http-in 
    bind *:80 
    bind *:443 ssl crt /tater.io.pem
    mode http
    redirect scheme https if !{ ssl_fc }
    acl host_eha hdr(host) -i eha.tater.io
    acl host_www hdr(host) -i www.tater.io
    acl host_predict hdr(host) -i predict.tater.io
    acl host_staging hdr(host) -i staging.tater.io
    acl host_bsve hdr(host) -i bsve.tater.io
    acl host_t11 hdr(host) -i t11.tater.io
    use_backend eha if host_eha
    use_backend www if host_www
    use_backend predict if host_predict
    use_backend staging if host_staging
    use_backend bsve if host_bsve
    use_backend t11 if host_t11


backend eha
    server po.tater.io 10.0.0.116:8002 check
    server tots01.tater.io 10.0.0.240:8002 check


backend www
    server po.tater.io 10.0.0.116:8004 check
    server tots01.tater.io 10.0.0.240:8004 check


backend predict
    server po.tater.io 10.0.0.116:8005 check
    server tots01.tater.io 10.0.0.240:8005 check


backend staging
    server po.tater.io 10.0.0.116:8006 check
    server tots01.tater.io 10.0.0.240:8006 check


backend bsve
    server po.tater.io 10.0.0.116:8007 check
    server tots01.tater.io 10.0.0.240:8007 check


backend t11
    server po.tater.io 10.0.0.116:23048 check
    server tots01.tater.io 10.0.0.240:23048 check

